{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}about{% endblock %}

{% block body_block %}

	<div class="page-header">
		<h1>About</h1>
	</div>
	
	<div>
		<img src='{% static "images/michael-jackson.jpg" %}' alt='Forever MJ' />
	</div>	
	
	# Visits: {{ visits }}
	
	<br>
	<button onClick="alert('You clicked the button using Javascript.');">
		Click Me - I run Javascript
	</button>
	
	<br>
	<button id="about-btn" >Click Me - I'm Javascript on Speed</button>
	
	<p>This is an example</p>
	<p>This is another example</p>
	
	<div id="msg"><strong>Hello</strong></div>
	
	<br>	
	<a href="/rango/">Back</a>
	<br>

{% endblock %}