<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
		<link rel='stylesheet' href='{% static "css/base.css" %}' />
		<script src='{% static "js/jquery-2.1.4.js" %}'></script>
		<script>		
		$(document).ready(function(){
			$('#capa').mouseenter(function(evento){
				$('#mensaje').css('display', 'block')
			});
			$('#capa').mouseleave(function(evento){
				$('#mensaje').css('display', 'none')
			});
		});			
		</script>
    </head>

    <body>
	
        <h1>Rango says...</h1>
		<div id='capa'>
			hello world! <strong>{{ boldmessage }}</strong><br />
		</div>
		<div id="mensaje" >Nuevo mensaje!</div>
        <a href='/rango/about/'>About</a><br />
		<img src='{% static "images/michael-jackson.jpg" %}' alt='Forever MJ' />
    </body>

</html>